@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

h1,h2{
      font-family: "Playfair Display", serif;
}

.animate__animated.animate__bounceInUp {
  --animate-duration: 3s;
}

.animate__animated.animate__bounceInDown {
  --animate-duration: 2s;
}